<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoInsightsAPI</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1 id="page-name"> <a href="/">CryptoInsightsAPI</a></h1>
    <div class="content">
        <div class="content-search">
            <form action="/search" method="post" id="search-form">
                <input name="search" id="search" placeholder="e.g. Bitcoin, Ethereum..." class="search-input">
                <input type="submit" name="submit" value="Search" class="search-submit">
            </form>
        </div>
    </div>

</body>
</html>