<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoInsightsAPI</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1 id="page-name"> <a href="/">CryptoInsightsAPI</a></h1>
    <div class="content">
        <div class="content-search">
            <form action="/search" method="post" id="search-form">
                <input name="search" id="search" placeholder="e.g. Bitcoin, Ethereum..." class="search-input">
                <input type="submit" name="submit" value="Search" class="search-submit">
            </form>
        </div>
   
    </div>
    <% if (locals.content) { %>

    <div class="content-table">
        <h2 class="table-h2">Values of the most popular cryptocurrencies</h2>
        <div class="table-row">
            <div class="table-name">
                <h3 class="table-info">Name</h3>
            </div>
            <div class="table-value">
                <h3 class="table-info">Value</h3>
            </div>
            <div class="table-grow">
                <h3 class="table-info">Grow</h3>
            </div>
        </div>
        <% for(let i = 0; i < content.length; i++) { %>
        <div class="table-row">
            <div class="table-name">
                <p><%= content[i].symbol %></p>
            </div>
            <div class="table-value">
                <p><%= content[i].price_24h %></p>
            </div>
            <div class="table-grow">
                <p><%= String(content[i]["volume_24h"]).slice(0,7) %></p>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>

</body>
</html>